body{
       background-color:#FFFFFF ;
       color:#85144B ;
}
.profile {
    text-align: center;
    margin: 20px;
}

.profile img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

.info {
    text-align: center;
    margin: 20px;
}

.github {
    text-align: center;
    margin: 20px;
}

.github a {
    text-decoration: none;
    color: #0073e6;
}
a:hover{
       text-decoration: underline;
}


















   @media (max-width: 768px) {
       .profile img {
           width: 100px;
           height: 100px;
       }
   }
   
   @media (max-width: 480px) {
       .profile img {
           width: 80px;
           height: 80px;
       }
   }
   
