
.profile {
    text-align: center;
    margin: 20px;
}

.profile img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

.info {
    text-align: center;
    margin: 20px;
}

.github {
    text-align: center;
    margin: 20px;
}

.github a {
    text-decoration: none;
    color: #0073e6;
}
